@model ValaisBooking2020.Models.BookingCancelViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div>
    <hr />
    <form asp-controller="Home" asp-action="Index">
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.confirmationCancelMessage)
            </dd>
            <dd class="col-sm-10">
                <input type="submit" value="Retour menu" class="btn btn-primary" />
            </dd>
        </dl>
    </form>
</div>
