@model ValaisBooking2020.Models.BookingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Annulation d'une réservation</h1>

<h4>Veuillez entrer vos informations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="MyBooking" asp-action="Details" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Numéro de réservation</label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Prénom</label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


