@model ValaisBooking2020.Models.SimpleSearchViewModel

@{
    ViewData["Title"] = "Index";
}


<h1>Recherche simple</h1>

<h4>Veuillez faire vos sélections.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Room" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.DropDownListFor(m => m.cities, new SelectList(Enum.GetValues(typeof(Location))), "Choix ville")
            <p> </p>
            <div class="form-group">
                <label>Date de checkin</label>
                <input asp-for="checkIn" class="form-control" />
                <span asp-validation-for="checkIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Date de checkout</label>
                <input asp-for="checkOut" class="form-control" />
                <span asp-validation-for="checkOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
