@model ValaisBooking2020.Models.SimpleSearchViewModel

@{
    ViewBag.Title = "SimpleSearch";
}

<h1>SimpleSearch</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="SimpleSearchController" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.ListBoxFor(m => m.SelectedCities, Model.CitiesResult, new { size = 7 })
                    <br />
                    <input type="submit" value="Submit" />
                }
            </div>

            <table>
                <tr>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                </tr>
                <tr>
                    <td>
                        <input type="date" id="check-in" name="trip-start"
                               value="2020-12-01"
                               min="2020-12-01" max="2021-12-01" />
                    </td>

                    <td>
                        <input type="date" id="check-out" name="trip-start"
                               value="2020-12-01"
                               min="2020-12-01" max="2021-12-01" />
                    </td>
                </tr>
            </table>



            <div class="form-group">
                <br />
                <input type="submit" value="Choose" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>