@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Valais Booking</p>
</div>

<h4>Simple Search</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="SimpleSearch" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Simple" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<h4>Advanced Search</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdvancedSearch" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Advanced" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>