@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Valais Booking</p>
</div>

<h4>Réservation rapide</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="SimpleSearch" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Simple" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<h4>Réservation multicritère</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdvancedSearch" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Multi" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<h4>Annuler ma réservation</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="MyBooking" asp-action="Index" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Annulation" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>